/*=====================================================================
# login
===================================================================== */
.login-inner {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 80%;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-head {
  position: relative;
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;

  span {
    position: absolute;
    display: flex;
    color: darken(#ededed, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
  }

  input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #ededed;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#ededed, 30%);

    &:focus {
      padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: #6fa8dc;
    }
  }
}

span.eye {
  width: 20px;
  height: 20px;
  left: 85%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #000;
  }
}

.password-forget {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
}

.login-btn {
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s ease-out;
  color: #fff;
  background: #6fa8dc;
  outline: 1px solid #000;
  padding: 5px;

  &:hover,
  &:focus {
    background: #6fa8dc;
    color: #fff;
    outline: 0;
    opacity: 0.7;
  }
}

.newAccount-btn {
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s ease-out;
  color: #6fa8dc;
  background: #fff;
  outline: 2px solid #6fa8dc;
  padding: 2px;
  border: 1px solid #6fa8dc;
  outline-offset: 2px;
  font-size: 12px;

  &:hover,
  &:focus {
    background: #6fa8dc;
    color: #fff;
    outline: 0;
    opacity: 0.7;
  }
}

.no-login {
  text-align: center;
  font-size: 12px;
}