/*=====================================================================
# memory-detail
===================================================================== */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

.memory-meatball-menu {
  font-size: 1.5rem;
}

.modal-body {
  position: relative;
  right: 1rem;
  top: 8%;
  margin-left: auto;
  border: 1px solid #000;
  width: 26%;
  text-align: center;
  border-radius: 8px;
  background: #eaeaea;
}
.modal-body #edit,
.modal-body #delete,
.modal-body #logout,
.modal-body #myPage-edit {
  background: #eaeaea;
  color: #000;
  padding: 5px 0;
  border: none;
}

.edit-menu {
  border-bottom: 1px solid #000;
}

.detail-diary {
  padding: 0 1rem;
}

.detail-img {
  margin-top: 0.5rem;
  outline: 1px solid #000;
  border-radius: 5%;
}

.detail-text-container {
  width: 90%;
  margin: 0 auto;
}
