/*=====================================================================
# login
===================================================================== */
.login-inner {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 80%;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-head {
  position: relative;
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: flex;
  color: #d4d4d4;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #6fa8dc;
}

span.eye {
  width: 20px;
  height: 20px;
  left: 85%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.login-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #000;
}

.password-forget {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
}

.login-btn {
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s ease-out;
  color: #fff;
  background: #6fa8dc;
  outline: 1px solid #000;
  padding: 5px;
}
.login-btn:hover, .login-btn:focus {
  background: #6fa8dc;
  color: #fff;
  outline: 0;
  opacity: 0.7;
}

.newAccount-btn {
  cursor: pointer;
  margin: 15px auto;
  transition: 0.2s ease-out;
  color: #6fa8dc;
  background: #fff;
  outline: 2px solid #6fa8dc;
  padding: 2px;
  border: 1px solid #6fa8dc;
  outline-offset: 2px;
  font-size: 12px;
}
.newAccount-btn:hover, .newAccount-btn:focus {
  background: #6fa8dc;
  color: #fff;
  outline: 0;
  opacity: 0.7;
}

.no-login {
  text-align: center;
  font-size: 12px;
}

/*=====================================================================
# signup
===================================================================== */
.login-screen {
  text-align: center;
  font-size: 12px;
}

/*=====================================================================
# main
===================================================================== */
.inner {
  padding: 0 1rem;
}

.header {
  padding: 0 1rem;
  border-bottom: 1px solid #000;
}

.header-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3rem;
}

.header-list a {
  color: inherit;
  font-size: 1.5rem;
}

.friend-diary {
  padding: 0 1rem;
  margin: 1rem 0;
  display: block;
}

.user-container {
  display: flex;
  align-items: center;
}
.user-container time {
  font-size: 12px;
}

.user-icon {
  margin-right: 1rem;
}

.user-name {
  margin-right: 1rem;
}

.diary-img {
  margin-top: 0.5rem;
  outline: 1px solid #000;
  border-radius: 5%;
  height: 336px;
}

.diary-caption {
  text-align: center;
  margin-top: 1rem;
}

.camera-btn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#camera-action-btn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/*=====================================================================
# camera
===================================================================== */
.close-camera-btn {
  position: relative;
  line-height: 3rem;
}

.close-camera {
  border: none;
  background: transparent;
}

.close-camera-icon {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}

#canvas {
  position: relative;
}

#clear-canvas-btn {
  position: absolute;
  top: 8%;
  right: 2%;
  width: 25px;
  height: 26px;
  border-radius: 100%;
}

.text-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: none;
}

.textarea-wrap {
  position: relative;
  margin-top: 1rem;
}

.auto_resize {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  width: 100%;
  line-height: 2rem;
}

.underline-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.underline {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
}

.addition-container {
  display: none;
  text-align: center;
  padding: 1rem 0;
  width: 90%;
  margin: 1rem auto 0;
}

.addition-lists {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
}

.addition-list {
  font-size: 2rem;
}
.addition-list input {
  display: none;
}
.addition-list label {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.addition-list label:hover {
  background: #6fa8dc;
}

input[type=radio]:checked + label {
  background: #6fa8dc;
  color: #fff;
}

.addition-btn {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.addition-btn:hover {
  opacity: 0.7;
}

/*=====================================================================
# mypage
===================================================================== */
.login-menu {
  border-bottom: 1px solid #000;
}

.login-menu,
.signup-menu {
  position: relative;
  display: block;
  padding: 5px 0;
}

.menu-text {
  padding-right: 1rem;
  color: #000;
}

.menu-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000;
}

.myPage {
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

.myPage-img {
  margin-top: 1rem;
}
.myPage-img img {
  border: 1px solid #000;
  border-radius: 100%;
}

.myName {
  margin-top: 0.5rem;
}

.tab-area {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.tab {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid #000;
}

.tab.active {
  border-color: #6299e6;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

.private {
  display: flex;
  justify-content: end;
  align-items: center;
}

.lock,
.lock1,
.lock2 {
  display: none;
}

.lock-btn {
  padding-left: 1rem;
  font-size: 1.5rem;
}

.toggle-button {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-left: 10px;
}
.toggle-button input {
  display: none;
}
.toggle-button input:checked + .slider {
  background-color: #4bd865;
}
.toggle-button input:checked + .slider::after {
  left: 30px;
}
.toggle-button .slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.toggle-button .slider::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  content: "";
  transition: left 0.4s;
}

.memories-container {
  margin-top: 1rem;
}

.memories {
  width: 100%;
  border-spacing: 5px 5px;
}

.day td {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem 0;
  text-align: center;
  width: 14.2857142857%;
}

.seeAll-container {
  text-align: center;
  margin-top: 1rem;
}

.seeAll-btn {
  border: 2px solid #888888;
  padding: 0.5rem;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}

/*=====================================================================
# memories
===================================================================== */
/*=====================================================================
# memory-detail
===================================================================== */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

.memory-meatball-menu {
  font-size: 1.5rem;
}

.modal-body {
  position: relative;
  right: 1rem;
  top: 8%;
  margin-left: auto;
  border: 1px solid #000;
  width: 26%;
  text-align: center;
  border-radius: 8px;
  background: #eaeaea;
}
.modal-body #edit,
.modal-body #delete,
.modal-body #logout,
.modal-body #myPage-edit {
  background: #eaeaea;
  color: #000;
  padding: 5px 0;
  border: none;
}

.edit-menu {
  border-bottom: 1px solid #000;
}

.detail-diary {
  padding: 0 1rem;
}

.detail-img {
  margin-top: 0.5rem;
  outline: 1px solid #000;
  border-radius: 5%;
}

.detail-text-container {
  width: 90%;
  margin: 0 auto;
}

/*=====================================================================
# memory-edit
===================================================================== */
.update-btn-container {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update-btn {
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-radius: 8px;
}

/*=====================================================================
# mypage-edit
===================================================================== */
.mypage-edit-container {
  width: 100%;
  margin: 1rem 0;
}
.mypage-edit-container label {
  flex: 0 0 90px;
  margin-right: 1rem;
}
.mypage-edit-container input {
  flex: 1;
  outline: none;
}

.myName-container {
  border-bottom: 1px solid #000;
  padding: 1rem 0;
}

.myName-wrap,
.myUserName-wrap {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.myUserName-container {
  padding: 1rem 0;
}

/*=====================================================================
# friend
===================================================================== */
.friend-profile {
  position: relative;
  z-index: 0;
}

.friend-img {
  margin-bottom: 1rem;
  border-bottom: 2px solid #000;
  box-shadow: inset 0px 0px 30px 10px #ccc;
}
.friend-img img {
  position: relative;
  z-index: -1;
}

.friend-name-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.friend-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.friend-btn-container {
  text-align: center;
}
.friend-btn-container button {
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-radius: 8px;
  width: 100%;
}

.friend-container {
  display: flex;
  margin-top: 1rem;
  border: 1px solid #000;
  border-radius: 8px;
}

.friend-container-img {
  flex: 0 0 50%;
  outline: 1px solid #000;
  border-radius: 8px;
  margin: 0.5rem;
}

.friend-container-text {
  flex: 1;
  margin-top: 0.5rem;
}
.friend-container-text p {
  color: #000;
}

/*=====================================================================
# friend-detail
===================================================================== */
/*=====================================================================
# search
===================================================================== */
.search-form {
  position: relative;
  margin-top: 2rem;
}

.search-box {
  position: relative;
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  outline: none;
}

.search-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: transparent;
  padding: 0.2rem 1rem;
}

/*=====================================================================
# search-result
===================================================================== */
.search-result {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.search-result-container {
  display: flex;
  align-items: center;
  flex: 0 0 78%;
}

.friend-icon {
  flex: 0 0 50px;
}
.friend-icon img {
  border: 1px solid #000;
  border-radius: 100%;
}

.search-friend-name {
  flex: 1;
  margin: 0 0.5rem;
}
.search-friend-name p {
  color: #000;
}

.search-addition-btn {
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: auto;
  flex: 0 0 auto;
  background: #e8e8e8;
}
.search-addition-btn button {
  background: transparent;
  min-width: 50px;
  white-space: nowrap;
  color: #000;
}

button.following {
  background: #6fa8dc;
  color: #fff;
}

/*=====================================================================
# reset
===================================================================== */
.to-login {
  text-align: center;
  margin-top: 1rem;
}

/*=====================================================================
# reset-complete
===================================================================== */
.complete-container {
  text-align: center;
}

.complete-text {
  margin-bottom: 1rem;
}

/*=====================================================================
# resetting
===================================================================== */
/*=====================================================================
# common
===================================================================== */
html,
body {
  width: 100%;
  height: 100%;
}

a {
  transition: all 0.3s;
}
a:hover {
  opacity: 0.7;
}

button {
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: 100%;
}
